QPushButton:hover {{
    background-color: #dff2d0;
    color: #444444;
}}

QPushButton {{
    font-size: 16px;
    background-color: #cce4bd;
    color: #222222;
    margin: 20px;
}}

QLabel {{
    font-weight: bold;
}}

QToolButton {{
    min-width: 320px;
    border-radius: 10px;
    border-width: 0px;
    padding: 6px;
    font-size: 14px;
    color: #777777;
}}